# Build output
.gradle/
build/
out/

# Indexes and temporary index files
*.idx
*.idx.*.tmp
*.idx.*.run
data/

# IDEs and OS files
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# UI test dependencies
node_modules/
